@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');

body {
	background-color: black;
}

* {
	color: #888;
}

.container {
	width: 33%;
	max-width: 100%;
}

.name {
	font: 5vw 'Lobster', cursive;
}

.section {
	font-family: 'Oswald', sans-serif;
}

/* mobile */
@media only screen and (max-width: 45em) {
	.container {
		width: 100%;
	}

	.name {
		font-size: 15vw;
	}
}