---
---
<!DOCTYPE html>
<html>
	<head>
		<title>Joshua Minter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Raleway|Roboto+Mono">
		<link rel="stylesheet" href="assets/style.css">
	</head>
	<body>
		<div class="content">
			<div class="name">
				Joshua Minter
			</div>
			<div class="desc">
				programmer / gamedev / graphics wiz
			</div>
			{{ content }}
			<div class="git">
				Currently working on
				<a target="_blank"></a>
			</div>
		</div>
		
		<div class="binary">
			<div class="bit">0</div>
		</div>

		<script src="assets/script.js" async></script>
	</body>
</html>